.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

/* Grid layout for skærmbredder over 800px */
@media (min-width: 800px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    
  
}