@font-face {
    font-family: "Magilio";
    src: url(../font/MagilioRegular-8Mxvg.woff2) format("woff2");
}

@font-face {
    font-family: "Opensans";
    src: url(../font/OpenSans-Regular.woff2) format(woff2); 
}
html{
    --fs-body: 20px;
    /* default styling */
    --fs-xxl:7rem;
    --fs-xl: 4.5rem;
    --fs-l: 3rem;
    --fs-m: 1.6rem;
    --fs-s: 1.2rem;
    --fs-xs: 0.8rem;
    
    --primaer-clr: #454934;
    --sekundaer-clr:#E7EFA6;
    --tridaer-clr:#A5AB83;
    --overige-clr:#C2C89D;

    --lh-main: 2em;
    
    --ff-headlines: "Magilio", sans-serif;
    --ff-main: "Opensans", sans-serif;
  }
  
  body {background-color: var(--sekundaer-clr);
    max-width: 1200px;
    margin: 0 auto;

    }

main{padding: 0 80px; /* Tilføjer lidt plads på siderne */}

    main p {
    font-family: var(--ff-main);
    font-size: var(--fs-s);
    color: white;
}
main ul{font-family: var(--ff-main);
    font-size: var(--fs-s);
    color: var(--sekundaer-clr);
    list-style-type: disc;

}

h1 {
    font-family: var(--ff-headlines);
    font-size: var(--fs-xl);
    color: var(--primaer-clr);
}

h2 {
    font-family: var(--ff-headlines);
    font-size: var(--fs-xl);
    color: var(--primaer-clr);
    text-align: center;
    margin: 20px;
}

h3 {
    font-family: var(--ff-headlines);
    font-size: var(--fs-l);
    color: var(--tridaer-clr);
}
h4 {font-family: var(--ff-headlines);
    font-size: var(--fs-m);
    color: var(--primaer-clr);}


/* Knap */
  .custom-button {
    background-color: var(--sekundaer-clr); 
    color: var(--primaer-clr); 
    border: 2px solid var(--primaer-clr); 
    border-radius: 50px; /* Afrundede hjørner */
    padding: 10px 20px;
    font-size: var(--fs-s);
    font-family: var(--ff-headlines);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-button:hover {
    background-color: var(--primaer-clr); /* Mørk grøn farve på hover */
    color: var(--sekundaer-clr); /* Lys grøn farve for teksten på hover */
}

/* BURGER MENU  */
header {
    color: var(--primaer-clr);
    font-family: var(--ff-headlines);
    font-size: var(--fs-s);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;
    padding: 1em;
    
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 50px;
  }
  
  .logo-container span {
    margin-left: 10px;
    font-size: 1.5em;
    color: #a7c0b1;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu .active {
    text-decoration: underline;
    color: var(--primaer-clr);
  }
  
  .menu > li {
    margin: 0 1rem;
  }
  
  .menu a {
    color: var(--primaer-clr);
    text-decoration: none;
    font-size: 1.2em;
  }
  
  .menu a:hover {
    text-decoration: underline;
    color: var(--overige-clr);
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
    background-color: #c0c0a7;
  }
  
  .menu-button::before {
    content: "";
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: "";
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 800px) {
    .menu-button-container {
      display: flex;
    }
    nav {
      position: absolute;
      top: 0;
      margin-top: 68px;
      left: 0;
      width: 100%;
      
    }
    .menu {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: none;
    }
    #menu-toggle:checked ~ nav .menu {
      display: flex;
    }
    #menu-toggle ~ nav .menu li {
      width: 100%;
      text-align: center;
    }
  }